/* general/ top-level styles */

html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

a:any-link {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

nav a:hover, footer a:hover {
    text-decoration: underline;
}


body {
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

/* nav styles */

nav {
    display: flex;
    width: 100%;
}

ul {
    font-size: 12px;
    display: flex;
    align-items: center;
    list-style-type: none;
}

#nav-list-1 {
    width: 25%;
    justify-content: flex-start;
    padding-left: 5px;
}

#nav-list-1 li {
    padding-left: 20px;
}

#nav-list-2 {
    width: 75%;
    justify-content: flex-end;
    padding-right: 30px;
}


#nav-list-2 li {
    padding-left: 15px;
}

#apps {
    display: flex;
    padding: 7px;
}

#apps:hover {
    background-color: lightgray;
    border-radius: 50px;
}

#sign-in {
    font-family: inherit;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    padding: 7px 14px;
    border-radius: 2px;
    color: white;
    background-color: #2b7de9;
}

#sign-in:hover {
    box-shadow: 0 0 2px #2b7de9;
}

/* main styles */

main {
    display: grid;
    height: calc(100vh - 103px);
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 200px 1fr;
}

input:focus {
    outline: none;
}

#logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-column: 2 / 3;
    grid-row: 1;
    width: 100%;
}

form {
    grid-column: 2 / 3;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    position: relative;
}

#search-wrapper-1 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px 0;
}

#search-wrapper-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #dfe1e5;
    width: 60%;
}

#search-wrapper-2:hover {
    box-shadow: 0 0 7px #dfe1e5;
}

#search-icon {
    display: flex;
    color: #9AA0A6;
}

#search-icon svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
    padding-right: 13px;
}

#search-field {
    width: 88%;
    border: none;
    padding: 13px 0 13px 0;
    border-radius: 50px;
}

#buttons-wrapper {
    display: flex;
    justify-content: center;
}

#buttons-wrapper button {
    font-family: 'Open Sans', sans-serif;
    color: #5f6368;
    background-color: #f2f2f2;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

#buttons-wrapper button:hover {
    border: 1px solid #c6c6c6;
    background-color: #f8f8f8;
    color: #222;
}

#search-button {
    padding: 8px 17px;
    margin-right: 5px;
}

#ifl {
    padding: 8px 17px;
    margin-left: 5px;
}

/* footer styles */

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e4e4e4;
    background-color: #f2f2f2 ;
}

footer ul {
    font-size: 1.4rem;
    color: #5f6368;
    padding-left: 0;
}

#footer-list-1 {
    width: 50%;
    margin-left: 10px;
}

#footer-list-1 li {
    padding-left: 20px;
}

#footer-list-1 li:nth-child(2) {
    padding-left: 25px;
    padding-right: 5px;
}

#footer-list-2 {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-right: 30px;
}

#footer-list-2 li {
    padding-left: 25px;
}

#footer-list-1, #footer-list-2 {
    margin-top: 10px;
    margin-bottom: 10px;
}